<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Password reset</title>
</head>
<body>
  Hello there,<br>
  <br>
  Forgot your PlainPlan password? Let's get you a new one by clicking on the link below.<br>
  <a href="<%= changePasswordUrl %>"><%= changePasswordUrl %></a><br>
  <br>
  If you didn't ask to reset your password, please ignore this email.<br>
  <br>
  Regards,<br>
  PlainPlan
</body>
</html>
